// Homepage Styles

.home-page {

	.intro {
		text-align: center;

		.content {
			h1 {
				font-weight: 900;
				font-size: 30px;
			}

			h2 {
				font-weight: 100;
				font-size: 20px;
			}
		}
		.col-centered {
			float: none;
			margin: auto;
		}

		form {
			background-color: $darkPrimary;
			padding: 30px !important;

			.form-group {

				label {
					display: block;
					font-weight: 100;
				}

				input {
					background-color: transparent;
				    border: 1px solid white;
				    border-radius: 15px;
				    padding: 5px;

					&:focus {
						outline: none;
					}
				}

				.btn-submit {
					background-color: transparent;
					border: 1px solid white;
					border-radius: 0px;
					padding: 10px;
					-webkit-transition: all .3s ease-out;
					transition: all .3s ease-out;
					outline: none;

					&:hover {
						background-color: $white;
						color: $black;
					}
				}
			}
		}
	}
}
