@import 'mixin';

/*---------------------------
	Variables
----------------------------*/
$white: #fff;
$black: #000;
$darkPrimary: #455A64;
$Primary: #607D8B;


/*---------------------------
	General
----------------------------*/

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: $white;
	background-color: $Primary;
}

a {
	text-decoration: none;
	@include transition(all, .3s, ease-in-out);

	&:hover {
		text-decoration: none;
	}
}

p {
	line-height: 1.8em;
}

@import 'header';
@import 'home';
@import 'admin';
@import 'footer';
