/*---------------------------
	Variables
----------------------------*/
/*---------------------------
	General
----------------------------*/
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  background-color: #607D8B; }

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:hover {
    text-decoration: none; }

p {
  line-height: 1.8em; }

.home-page .intro {
  text-align: center; }
  .home-page .intro .content h1 {
    font-weight: 900;
    font-size: 30px; }
  .home-page .intro .content h2 {
    font-weight: 100;
    font-size: 20px; }
  .home-page .intro .col-centered {
    float: none;
    margin: auto; }
  .home-page .intro form {
    background-color: #455A64;
    padding: 30px !important; }
    .home-page .intro form .form-group label {
      display: block;
      font-weight: 100; }
    .home-page .intro form .form-group input {
      background-color: transparent;
      border: 1px solid white;
      border-radius: 15px;
      padding: 5px; }
      .home-page .intro form .form-group input:focus {
        outline: none; }
    .home-page .intro form .form-group .btn-submit {
      background-color: transparent;
      border: 1px solid white;
      border-radius: 0px;
      padding: 10px;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out; }
      .home-page .intro form .form-group .btn-submit:hover {
        background-color: #fff;
        color: #000; }

/*---------------------------------------------------------------------
	WordPress Login Page Style
----------------------------------------------------------------------*/
body.login {
  background: #000; }

body.login div#login h1 a {
  background: url(../img/logo-admin.png) no-repeat;
  background-position: center;
  width: 100%;
  margin-bottom: 0px; }

body.login div#login form#loginform {
  background: #fff;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%; }

body.login div#login form#loginform p label {
  color: #000;
  font-size: 15px; }

body.login div#login form#loginform input {
  background: none;
  border: none;
  padding-left: 5px;
  color: #000;
  box-shadow: none; }

body.login div#login form#loginform input#user_login {
  background: #fff;
  height: 40px;
  font-size: 18px; }
  body.login div#login form#loginform input#user_login:focus {
    border-bottom: 2px solid #000; }

body.login div#login form#loginform input#user_pass {
  background: #fff;
  height: 40px;
  font-size: 18px; }
  body.login div#login form#loginform input#user_pass:focus {
    border-bottom: 2px solid #000; }

body.login div#login form#loginform p.forgetmenot input#rememberme {
  background: #000; }

body.login div#login form#loginform p.submit input#wp-submit {
  border: 1px solid #000;
  color: #000;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  height: 35px;
  margin-top: 10px;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out; }
  body.login div#login form#loginform p.submit input#wp-submit:hover {
    background: #000;
    color: #fff; }

#contact {
  padding-bottom: 40px; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
  footer hr {
    border: 1px solid #BDBDBD; }
  footer .social-links {
    list-style: none;
    margin: 0 0 20px;
    padding: 0; }
    footer .social-links li {
      display: inline-block;
      margin: 0 5px;
      border-radius: 3px;
      box-shadow: 0 4px 0 transparent;
      -webkit-transition: all .3s ease-out;
      transition: all .3s ease-out; }
      footer .social-links li a {
        display: block;
        color: #fff;
        color: rgba(255, 255, 255, 0.3);
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out; }
        footer .social-links li a:hover {
          color: #fff;
          background: #38A5DB; }
      footer .social-links li .fa-fw {
        padding-top: 10px; }
